.button {
  font: inherit;
  border: 1px solid #2c3e50;
  background: #2c3e50;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #2c3e50;
  border-color: #2c3e50;
}

.button:focus {
  outline: none;
}
